@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* roboto font */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  scroll-behavior: smooth;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
.primary-text {
  color: #030712;
}
